.reveal {
    font-size: 48px;
}

.reveal section.title h1{
    font-size: 140px;
    font-weight: bold;
}

.reveal h1 {
}

.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal pre {
    width: 98%;
    margin: 8px 0;
}